<p style="color: green"><%= notice %></p>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Read More...", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
